Signed header using on host:port instead of host only

### Describe the bug

At our company. we use 0-trust solution that puts most services (including https) behind non standard local port (e.g 7443 instead of 443)

Consequently, this bit breaks the signing

https://github.com/boto/botocore/blame/5ba1dc100324723b56ff6953350d8218a85b63bf/botocore/auth.py#L83-L85

Because if I am not mistaken the SDK should _only_ use the host bit (e.g 127.0.0.1). But as you can see on line 85, host is being modified if my port does not match your default_ports scheme.

To wit: Canonical header should not have _host:port_ but rather just _host_ regardless if I am  not sorely mistaken. And sdk should  _not_ confuse endpoint (for making requests) with what goes into awsv4 headers.

To make matter worse. looks like Golang sdk copy pasted the same bits of code

### Expected Behavior

canonical header should only contain host

```python
endpoint = '127.0.0.1:7443' # endpoint is not the same thing as host for signing purposes
host = '127.0.0.1'
canonical_headers = "\n".join([f'{k}:{v}' for k,v in {'host':host, 
                                                      'x-amz-content-sha256': empty_string_hash,
                                                      'x-amz-date': amzdate, 
                                                      'x-amz-security-token': credentials.token,
                                                     }.items()])
```

### Current Behavior

Getting 
```
"message":"The request signature we calculated does not match the signature you provided. ...
```

### Reproduction Steps

Repeat the aws example https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html

with host and host:port to see how this is getting messed up

### Possible Solution

_No response_

### Additional Information/Context

_No response_

### SDK version used

botocore==1.29.110, boto3==1.26.97

### Environment details (OS name and version, etc.)

py3.9, mac

Hi @aimran-adroll, thanks for reaching out about this. We do intentionally include the port if it's provided and not implicit with the scheme (http -> 80 and https -> 443). The HTTP RFC for a Host header is defined as (emphasis mine):

>  The "Host" header field in a request provides **the host and port** information from the target URI, enabling the origin server to distinguish among resources while servicing requests for multiple host names.

\- [RFC 9110 § 7.2](https://www.rfc-editor.org/rfc/rfc9110#name-host-and-authority)

You won't typically encounter this scenario with a production AWS service though. Could you provide some more details about your use case and where you found information on the exclusion of the port in signing? Thanks!

Thanks for the info, @aimran-adroll. To quickly clarify, the `Host` header you're sending in your raw request to OpenSearch is `localhost`, or is this being transformed somewhere else? Can you provide the exact values being passed into Boto3 and the `Host` header you're expecting?

Taking a look at `requests_aws4auth` it looks like they just [added tests](https://github.com/tedder/requests-aws4auth/pull/68/files) specifically to ensure the port is preserved on the `Host` header. It seems there's some confusion around the expected behavior and this may be an issue specific to OpenSearch. I'm not sure we can modify this behavior without risking breakages to other use cases.

There is also a similar discussion around OpenSearch in the [originating issue](https://github.com/tedder/requests-aws4auth/issues/65) for that PR. Their specific case is due to setting the `endpoint_url` to direct to their proxy instead of using the proxy URL config.

If you can provide the info requested above, it'll be helpful while we investigate internally. Thanks!

Thanks @nateprewitt for sticking on this. Its a touch difficult to explain but here it goes. I repeated the above (the two ways of generating `auth`). I then used the debugger to drop down to the following places

-------------
in both cases, I am passing host="localhost:7443"
-------------


## case 1: request_aws4auth

https://github.com/tedder/requests-aws4auth/blob/9e9e7bf25ad1962cd8dd77064216ee4cab8ca520/requests_aws4auth/aws4auth.py#L415

This is right after it has generated the canonical headers. I inspected the values and host is indeed `localhost` (sans port)


![image](https://github.com/boto/botocore/assets/31903245/f4bc1758-45f4-4db7-92f6-db40ed059f0d)



## case 2: using opensearchpy.AWSV4SignerAuth

I dropped down to the following place in botocore

https://github.com/boto/botocore/blob/6caef35f5500ed60eaa9228039fc759233917dba/botocore/auth.py#L245

![image](https://github.com/boto/botocore/assets/31903245/7809a2ab-71a7-488e-aff3-4b14b5c9202a)


You can see that host is `localhost:7443`



----


Since case 2 fails to sign the request, its reasonable to assume that host in botocore in this particular scenario is not set correctly at the signing phase. 
 


And just to be annoying 😅 , i commented out the following lines in botocore, and 💥 . Case 2 works too

https://github.com/boto/botocore/blob/6caef35f5500ed60eaa9228039fc759233917dba/botocore/auth.py#L83-L85

Ok interesting, so this may work, but is 100% not intended functionality. The `Host` header is the _destination_ server, not where the request is originating. This is to distinguish which service you're addressing for co-habitated applications on the same server.

It looks like OpenSearch, and potentially other services, are interpreting "localhost" as the service host. I'm actually surprised they are accepting this to begin with, but it may be an unintentional omission.

> This is to distinguish which service you're addressing for co-habitated applications on the same server.

That certainly makes sense. I am not sure if there is anything to be done here. I guess I will keep using requests_aws4auth since its unintentionally using  _uri-host_ for the host header (atleast until they "fix" it)

Thanks again